---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Brett Beutell - fullstack TypeScript engineer writing about AI and web development."
	pubDate={new Date('December 13 2024')}
>
	<p>
		Hey, I'm Brett. Some people call me Boots. I do lots of typescript. I'm currently working on <a href="https://fp.dev">fp</a>, a task manager for Claude Code.
	</p>

	<p>
		You can find me on <a href="https://twitter.com/lastgoodhandle">Twitter</a> and <a href="https://github.com/brettimus">GitHub</a>, if you ever wanna say hiiiiiii.
	</p>
</Layout>
