---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Brett Beutell - fullstack TypeScript engineer writing about AI and web development."
	pubDate={new Date('December 13 2024')}
>
	<p>
		Hey, I'm Brett. I'm a fullstack TypeScript software engineer interested in AI and web development.
	</p>

	<p>
		You can find me on <a href="https://twitter.com/lastgoodhandle">Twitter</a> and <a href="https://github.com/brettimus">GitHub</a>.
	</p>
</Layout>
